<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST"  enctype="multipart/form-data" id="formedit">
                    {% csrf_token %}
                    <div class="form-group validate">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" id="title1">
                    </div>
                    <div class="form-group validate">
                        <label>Author</label>
                        <input type="text" class="form-control" name="author" id="author1">
                    </div>
                    <div class="form-group validate">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" id="email1">
                    </div>

                    <div class="form-group col-md-6 validate">
                        <label for="shipping" class="form-label">Shipping</label>
                    </div>

                    <div class="form-check validate">
                        <input class="form-check-input" type="radio" name="shipping" value="online" id="online1">
                        <label class="form-check-label" for="exampleRadios1">
                            Online
                        </label>
                    </div>
                    <div class="form-check validate">
                        <input class="form-check-input" type="radio" name="shipping" value="post" id="post1">
                        <label class="form-check-label" for="exampleRadios2">
                            Post
                        </label>
                    </div>

                    <div class="form-group  validate">
                        <label for="inputState">Journal</label>
                        <select id="journal1" class="form-label" name="journal">
                            <option>Choose...</option>
                            <option value="comic">Comic</option>
                            <option value="horror">Horror</option>
                            <option value="thriller">Thriller</option>

                        </select>
                    </div>

                    <div class="form-group col-md-6 validate">
                      
                        <label for="shipping" class="form-label">Image</label>
                        <input type="file" class="form-control-file" name="myimage" value="myimage">
                        <img src="{{mydata.myimage}}" id="image1" alt="" width=100px>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    function editUser(x) {
        alert(x)
        $.ajax({
            url: 'http://127.0.0.1:8000/class_detail/' + x + '/',
            method: 'GET',
            data: '',
            datatype: 'json',
        }).done(function (data) {
            console.log(data.myimage)
            $('#title1').val(data.title)
            $('#author1').val(data.author)
            $('#email1').val(data.email)
          
            if (data.shipping == "online") {
                $('#online1').prop('checked', true)
            }
            else if (data.shipping == "post") {
                $('#post1').prop('checked', true)
            }
            $('#journal1').val(data.journal)

            $("#image1").attr('src', data.myimage)

            $('#formedit').attr('action', '/updateobj/' + x + '/');
        })

    }

            
</script>